{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="row mb-3 py-sm-5">
  <div class="col-12 col-sm-6 mb-3">
    <img src="{{ asset('assets/img/top/img_about.jpg') }}" alt="" class="img-fluid" role="presentation"/>
  </div>
  <div class="col-12 col-sm-6">
    <p class="display-3 fw-lighter text-black-50">{{ 'BRAND CONCEPT'|trans }}</p>
    <p class="h3 fw-bolder mb-3">{{ 'トレンドに乗っても、私らしく。'|trans }}</p>
    <p class="lh-lg">{{ '流行に逆らいたいわけじゃない。今のトレンドにも新しいデザインに興味もある、でも、私らしさのイメージは大事にしたい。
    「私らしさの中で、新しいチャレンジに踏み出したい。」
    そんな女性のための洋服を提供して、元気づけたい。それが私たちの想いです。
  '|trans|nl2br }}</p>
    <p class="text-end">
      <a class="btn btn-outline-secondary" href="{{ url('product_list') }}">{{ '商品一覧を見る'|trans }}</a>
    </p>
  </div>
</div>
