{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% set Products = repository('Eccube\\Entity\\Product').findBy({ Status: 1 }, { create_date: 'desc' }, 4) %}

<div class="row">
  <div class="col-12 mb-3">
    <p class="display-6 fw-lighter text-black-50 mb-0">{{ 'NEW ITEM'|trans }}</p>
    <p class="h5 mb-0">{{ '新着商品'|trans }}</p>
  </div>
</div>

<div class="row mb-5 row-cols-2 row-cols-sm-3 row-cols-md-4 g-2">

{% for Product in Products %}
  <div class="col">
    <div class="card">
      <a href="{{ url('product_detail', {'id': Product.id}) }}">
        <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" class="img-fluid">
      </a>
      <div class="card-body p-2 p-sm-3">
        <p class="card-title fs-6">{{ Product.name }}</p>
        <p class="card-text text-end">
          {% if Product.hasProductClass %}
            {% if Product.getPrice02Min == Product.getPrice02Max %}
              {{ Product.getPrice02IncTaxMin|price }}
            {% else %}
              {{ Product.getPrice02IncTaxMin|price }}
              ～
              {{ Product.getPrice02IncTaxMax|price }}
            {% endif %}
          {% else %}
            {{ Product.getPrice02IncTaxMin|price }}
          {% endif %}
        </p>
        {% if Product.stock_find is empty %}
          <p class="">{{ 'ただいま品切れ中です。'|trans }}</p>
        {% endif %}
      </div>
      <div class="card-footer text-end d-none d-sm-block">
        <a href="{{ url('product_detail', {'id': Product.id}) }}" class="btn btn-sm btn-outline-secondary">商品を見る</a>
      </div>
    </div>
  </div>
{#
  <div class="col">
    <div class="card">
      <a href="{{ url('product_detail', {'id': '1'}) }}">
        <img src="{{ asset('cube-1.png', 'save_image') }}" class="img-fluid">
      </a>
      <div class="card-body p-2 p-sm-3">
        <p class="card-title fs-6">{{ Product.name|trans }}</p>
        <p class="card-text text-end">{{ '￥1,200(税込)'|trans }}</p>
      </div>
      <div class="card-footer text-end d-none d-sm-block">
        <a href="{{ url('product_detail', {'id': '1'}) }}" class="btn btn-sm btn-outline-secondary">商品を見る</a>
      </div>
    </div>
  </div> #}
{% endfor %}

</div>
