{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set NewsList = repository('Eccube\\Entity\\News').getList() %}


<div class="row">
  <div class="col-12 mb-3">
    <p class="display-6 fw-lighter text-black-50 mb-0">{{ 'NEWS'|trans }}</p>
    <p class="h5 mb-0">{{ '新着情報'|trans }}</p>
  </div>
</div>

<div class="row bg-light p-sm-3 p-sm-5 mb-5">
  <div class="accordion accordion-flush bg-white">
    {% for News in NewsList %}
    <div class="accordion-item">


    <div class="accordion-header">
    {% if News.description or News.url %}
        <button class="accordion-button collapsed p-3" type="button" data-bs-toggle="collapse" data-bs-target="#news{{News.id}}">
          <div class="text-start">
            <small class="d-block d-sm-inline-block me-3">{{ News.publish_date|date_day }}</small>
            {{ News.title }}
          </div>
        </button>
    {% else %}
        <span class="p-3 d-block">
          <div class="text-start">
            <small class="d-block d-sm-inline-block me-3">{{ News.publish_date|date_day }}</small>
            {{ News.title }}
          </div>
        </span>
    {% endif %}
    </div>

    {% if News.description or News.url %}
    <div id="news{{News.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne">
      <div class="accordion-body">
        {{ News.description|raw|nl2br }}
        {% if News.url %}
            <br>
            <a href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %}>{{ '詳しくはこちら'|trans }}</a>
        {% endif %}
      </div>
    </div>
    {% endif %}

    </div>
    {% endfor %}

  </div>


</div>
