{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="row bg-light py-4 p-xl-5 mb-3">

  <div class="col-12 mb-3">
    <p class="display-6 fw-lighter text-black-50 mb-0">{{ 'TOPICS'|trans }}</p>
    <p class="h5 mb-0">{{ '特集'|trans }}</p>
  </div>

  <div class="col-12 col-sm-6">
    <img src="{{ asset('assets/img/top/img_bnr01.jpg') }}" class="img-fluid" >
    <p class="text-center">{{ '暑いだけの夏にはしたくない！Summer ITEM特集'|trans }}</p>
  </div>

  <div class="col-12 col-sm-6">
    <img src="{{ asset('assets/img/top/img_bnr02.jpg') }}" class="img-fluid" >
    <p class="text-center">{{ '"ちょっとそこまで"が楽しくなるスニーカー'|trans }}</p>
  </div>

</div>
