{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% set mypageno = 'change' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
<div class="row">
  <div class="col">
    <h1 class="h4 py-2 my-2 border-bottom">{{ 'マイページ'|trans }}/{{ '会員情報編集'|trans }}</h1>
    {% include 'Mypage/navi.twig' %}
  </div>
</div>

<div class="row max-width-660 mx-auto">
  <div class="col">
  <form method="post" action="{{ url('mypage_change') }}" novalidate class="h-adr">
  {{ form_widget(form._token) }}


  <div class="mb-3">
    {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'form-label' }}) }}

    <div class="{{ has_errors(form.name.name01, form.name.name02) ? ' error'}}">
      <div class="input-group">
        {{ form_widget(form.name.name01, { 'attr': { 'placeholder': '姓', 'class': 'form-control' }}) }}
        {{ form_widget(form.name.name02, { 'attr': { 'placeholder': '名', 'class': 'form-control' }}) }}
      </div>
      {{ form_errors(form.name.name01) }}
      {{ form_errors(form.name.name02) }}
    </div>
  </div>


  <div class="mb-3">
    {{ form_label(form.kana, 'お名前(カナ)', { 'label_attr': { 'class': 'form-label' }}) }}

    <div class="{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error'}}">
      <div class="input-group">
        {{ form_widget(form.kana.kana01, { 'attr': { 'placeholder': 'セイ', 'class': 'form-control' }}) }}
        {{ form_widget(form.kana.kana02, { 'attr': { 'placeholder': 'メイ', 'class': 'form-control' }}) }}
      </div>
      {{ form_errors(form.kana.kana01) }}
      {{ form_errors(form.kana.kana02) }}
    </div>
  </div>


  <div class="mb-3">
    {{ form_label(form.company_name, '会社名', { 'label_attr': { 'class': 'form-label' }}) }}
    <div class="{{ has_errors(form.company_name) ? ' error' }}">
      {{ form_widget(form.company_name, { 'attr': { 'class': 'form-control' }}) }}
      {{ form_errors(form.company_name) }}
    </div>
  </div>


  <div class="mb-3">
  {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'form-label' }}) }}
    <div class="mb-2 {{ has_errors(form.postal_code) ? ' error' }}">
      <div class="input-group">
        <span class="input-group-text" id="inputZipcode">〒</span>
        {{ form_widget(form.postal_code, { 'attr': { 'class': 'form-control' }}) }}
        <span class="input-group-text"><a href="https://www.post.japanpost.jp/zipcode/" target="_blank" class="text-dark text-decoration-none">{{ '郵便番号検索'|trans }}</a></span>
      </div>
      {{ form_errors(form.postal_code) }}
    </div>
    <div class="mb-2 {{ has_errors(form.address.pref) ? ' error' }}">
      {{ form_widget(form.address.pref, { 'attr': { 'class': 'form-select' }}) }}
      {{ form_errors(form.address.pref) }}
    </div>
    <div class="mb-2 {{ has_errors(form.address.addr01) ? ' error' }}">
        {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': '市区町村名','class': 'form-control' }}) }}
        {{ form_errors(form.address.addr01) }}
    </div>
    <div class="mb-2 {{ has_errors(form.address.addr02) ? ' error' }}">
        {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': '番地・ビル名','class': 'form-control' }}) }}
        {{ form_errors(form.address.addr02) }}
    </div>
  </div>

  <div class="mb-3">
    {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'form-label' }}) }}
    <div class="{{ has_errors(form.phone_number) ? ' error' }}">
        {{ form_widget(form.phone_number, { 'attr': { 'class': 'form-control' }}) }}
        {{ form_errors(form.phone_number) }}
    </div>
  </div>

  <div class="mb-3">
    {{ form_label(form.email, 'メールアドレス', { 'label_attr': { 'class': 'form-label' }}) }}

    <div class="mb-2 {{ has_errors(form.email.first) ? ' error' }}">
        {{ form_widget(form.email.first, { 'attr': { 'placeholder': '例：tanaka_taro@example.com','class': 'form-control' }}) }}
        {{ form_errors(form.email.first) }}
    </div>
    <div class="mb-2 {{ has_errors(form.email.second) ? ' error' }}">
        {{ form_widget(form.email.second, { 'attr': { 'placeholder': '確認のためもう一度入力してください','class': 'form-control' }}) }}
        {{ form_errors(form.email.second) }}
    </div>
  </div>

  <div class="mb-3">
  {{ form_label(form.password, 'パスワード', { 'label_attr': {'class': 'form-label' }}) }}
    <div class="mb-2 {{ has_errors(form.password.first) ? ' error' }}">
        {{ form_widget(form.password.first, {
            'attr': { 'placeholder': '半角英数記号%min%〜%max%文字'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len }) , 'class': 'form-control' },
            'type': 'password'
        }) }}
        {{ form_errors(form.password.first) }}
    </div>
    <div class="mb-2 {{ has_errors(form.password.second) ? ' error' }}">
        {{ form_widget(form.password.second, {
            'attr': { 'placeholder': '確認のためもう一度入力してください'|trans ,'class': 'form-control' },
            'type': 'password'
        }) }}
        {{ form_errors(form.password.second) }}
    </div>
  </div>

  <div class="mb-3">
    {{ form_label(form.birth, '生年月日', { 'label_attr': {'class': 'form-label' }}) }}
    <div class="{{ has_errors(form.birth) ? ' error' }}">
      <div class="input-group">
        {{ form_widget(form.birth.year, { 'attr': { 'class': 'form-select' }}) }}
        {{ form_widget(form.birth.month, { 'attr': { 'class': 'form-select' }}) }}
        {{ form_widget(form.birth.day, { 'attr': { 'class': 'form-select' }}) }}
      </div>
      {{ form_errors(form.birth) }}
    </div>
  </div>

  <div class="mb-3">
    {{ form_label(form.sex, '性別', { 'label_attr': { 'class': 'form-label' }}) }}
    <div class="form-check {{ has_errors(form.sex) ? ' error' }}">
      {{ form_widget(form.sex) }}
      {{ form_errors(form.sex) }}
    </div>
  </div>

  <div class="mb-3">
    {{ form_label(form.job, '職業', { 'label_attr': {'class': 'form-label' }}) }}
    <div class="{{ has_errors(form.job) ? ' error' }}">
        {{ form_widget(form.job, { 'attr': { 'class': 'form-select' }}) }}
        {{ form_errors(form.job) }}
    </div>
  </div>

  {# エンティティ拡張の自動出力 #}
  {% for f in form if f.vars.eccube_form_options.auto_render %}
    {% if f.vars.eccube_form_options.form_theme %}
      {% form_theme f f.vars.eccube_form_options.form_theme %}
      {{ form_row(f) }}
    {% else %}
      <div class="mb-3">
        {{ form_label(f) }}
        <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
          {{ form_widget(f) }}
          {{ form_errors(f) }}
        </div>
      </div>
    {% endif %}
  {% endfor %}


  <div class="mb-3 text-center">
    <button class="btn btn-primary btn-lg mb-2" type="submit" name="mode" value="confirm">{{ '登録する'|trans }}</button>
  </div>


  </div>
</div>

{% endblock %}
