{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}
<div class="row">
  <div class="col">
    <h1 class="h4 py-2 my-2 border-bottom">{{ 'マイページ'|trans }}/{{ '退会手続き'|trans }}</h1>
    {% include 'Mypage/navi.twig' %}
  </div>
</div>

<div class="row">
  <div class="col text-center">
  <form method="post" action="{{ url('mypage_withdraw') }}">
  {{ form_widget(form._token) }}

  <p class=" py-3 fs-4">
    {{ '退会手続きを実行してもよろしいでしょうか？'|trans }}
  </p>
  <p class="" >
    {{ '退会手続きが完了した時点で、現在保存されている購入履歴やお届け先等の情報は、すべて削除されますのでご注意ください。'|trans }}
  </p>

  <a class="btn btn-secondary btn-lg" href="{{ url('mypage') }}">{{ 'いいえ、退会しません'|trans }}</a>
  <button type="submit" class="btn btn-danger btn-lg" name="mode" value="complete">{{ 'はい、退会します'|trans }}</button>

  </form>

  </div>
</div>

{% endblock %}
